.favContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 82vh;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    /* background-color: red; */
    width: 100vw;
    padding: 20px 0px;
}

.product {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 15px;
    margin: 5px;
}

.product span{
    border: 2px solid black;
    display: flex;
}

.productDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    margin: auto;
}

.product img{
    width: 300px;
}

.divButton {
    display: flex;
    justify-content: end;
    width: 100%;
    border: 2px solid black;
}


.prodFav{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 600px;
    width: 80%;
    margin: 10px 0px;
}
.prodFav a{
    display: flex;
    flex-direction: row;
}
.imgProdFav{
    width: 200px;
    padding: 20px 30px 0px 30px;
    transition: all ease 300ms;
}
.imgProdFav:hover{
    /* width: 220px;
    position: relative; */
    transform: translateY(-10px);
}
.imgProdFav img{
    width: 100%;
}
.containerProduct {
    display: flex;
    flex-direction: row;
}
.infoDetailsProduct {
    margin-top: 10px;
}
.infoDetailsProduct h4{
    margin-top: 20px;
}
.extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 10px 0px;
}
.extra h4 {
    margin: 0;
    color: #d6d6d6;
    font-style: italic;
}
.button {
    border: none;
    background-color: rgb(52, 218, 52);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    transition: 0.2s;
}
.button:hover {
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.762)
}
.infoProduct {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 0px;
}
.infoProduct a {
    text-decoration: none;
    color: #000;
}
.infoProduct a h2, .infoProduct h3, .infoProduct h4 {
    margin: 0;

}

.textInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    margin-top: 30px;
    width: 80%;
    height: 140px;
    justify-content: space-between;
    position: fixed;
    top: 40%;
}

@media (max-width: 800px ) {
   .product {
    display: flex;
    flex-direction: column;
   }

   .productDetails{
    display: flex;
    flex-direction: column;
   }

   .divButton{
    display: flex;
    width: 100%;
    justify-content: center;
    border: 2px solid black;
   }

   .divButton button{
    width: 100%;
   }

}