.containerChatList button{
  margin: 10px 0px;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 5px;
  transition: .2s;
}
.containerChatList button:hover{
  background-color: var(--gray-medium);
  transform: scale(1.05);
}
.containerChatList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  min-height: 71.4vh;
}
.containerChatList li {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 120px;
  width: 500px;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 5px;
  transition: .2s;
}
.containerChatList li:hover {
  transform: scale(1.02);
}
.containerChatList li img {
  height: 70%;
  border-radius: 50%;
  /* margin: auto; */
}
.containerChatList h1, .containerChatList h4 {
  padding: 0;
  margin: 0;
}
.containerChatList a {
  text-decoration: none;
}