.container{
    min-height: 80vh;
    margin: 10px 50px;
}

@media screen and (max-width: 420px) {
    .container{
        width: 99%;
    }	
  }
  
@media screen and (max-width: 860px) {
    .container{
        width: 99%;
    }	
  }