.favContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    min-height: 78vh;
    background-color: #d2d2d2;
}
.favContainer a{
    text-decoration: none;
}


.prodFav{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    max-width: 600px;
    width: 80%;
    margin: 10px 0px;
    border-radius: 6px;
}
.prodFav a{
    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
}
.imgProdFav{
    width: 200px;
    /* padding: 0px 30px; */
    padding: 20px 30px 0px 30px;
    transition: all ease 300ms;
}
.imgProdFav:hover{
    transform: translateY(-10px);
}
.imgProdFav img{
    width: 100%;
}
.containerProduct {
    display: flex;
    flex-direction: row;
}
.infoDetailsProduct {
    margin-top: 10px;
}
.infoDetailsProduct h4{
    margin-top: 20px;
}
.extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 10px 0px;
}
.extra h4 {
    margin: 0;
    color: #d6d6d6;
    font-style: italic;
}
.buttons {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons a{
    text-decoration: none;
}
.button {
    border: none;
    background-color: rgb(52, 218, 52);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    transition: 0.2s;    
}
.button:hover {
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.762)
}
.infoProduct {
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 0px;
}
.infoProduct a {
    text-decoration: none;
    color: #000;
}
.infoProduct a h2, .infoProduct h3, .infoProduct h4 {
    margin: 0;

}
.textInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnUserProd{   
   position: absolute;
   left: 60%;
   display: flex;  
   flex-direction: row;
   align-items: flex-end;
   height: 200px;
   margin-top: 10px;        
}



@media screen and (max-width: 420px) {
    .favContainer{
        width: 99%;
    }
    .imgProdFav {
        width: 50px;
        /* padding: 0px 30px; */
        padding: 20px 30px 0px 30px;        
    }
    .favContainer h1, h2, h3, h4 , p, span{
        font-size: 10px;
    }
  }
  @media screen and (max-width: 860px) {
    .favContainer{
        width: 99%;
    }
    .imgProdFav {
        width: 50px;      
        padding: 20px 30px 0px 30px;        
    }
    .favContainer h1, h2, h3, h4 , p, span{
        font-size: 10px;
    }
  }
