.container {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    bottom: 5px;
    width: 100%;
}

.contact {
    font-size: 1em;
    text-decoration: underline;
    transition: .2s;
}

.contact:hover{
    transform: scale(1.1)
}
.contact:visited{
    color: #000;
}