.formLoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.formLogin{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 280px;
}
.formLogin input{
    height: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}