.formLoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #d6d6d6;
    font-style: #000; 
    font-weight: bold;   
}

.formLogin{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 280px;
    border-radius: 5px;
}
.formLogin input{
    height: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
   
}
.formLoginContainer button{
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;   
}
.formLoginContainer button:hover{
    padding: 5px;
background-color: #d6d6d6;
}