.formLoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #d6d6d6;
    font-style: #000; 
    font-weight: bold;   
}

.formLogin{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border-radius: 5px;
}
.formLogin input{
    height: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
   
}
.formLoginContainer button{
    margin-bottom: 20px;
    background-color: rgb(52, 218, 52);
    border-radius: 3px;
    cursor: pointer;
    border: none;
    min-width: 150px;
    height: 25px;
    transition: 0.2s;
}
.formLoginContainer button:hover{
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.762)
}
.error{
    font-size: 12px;
    color: #d30808;
}
@media screen and (max-width: 420px) {
    .formLoginContainer{
        width: 100%;       
    }	
}

@media screen and (max-width: 860px) {
        .formLoginContainer{
            width: 100%;           
        }	
}