:root {
	--color-primary: #fff;
	--color-secundary: #000;
	--gray-dark: #d6d6d6;
	--gray-light: #f2f2f2;
	--gray-medium: #eaeaea;
}
.searchBarContainer {
	background-color: var(--color-primary);
	padding: 20px 0px;
	width: 100vw;
}
.contain {
	align-items: center;
	align-items: center;
	display: flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	max-width: 1150px;
	width: 100%;
}
.searchBar {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex: 1;
	justify-content: center;
	margin: 0px 30px;
}
.input {
	margin-right: 19px;
	position: relative;
	width: 60%;
}
.input input {
	border-radius: 5px 0px 0px 5px;
	border: 1px solid var(--gray-light);
	font-size: 17px;
	outline: none;
	padding: 5px 10px;
	width: 100%;
}
.searchBar button {
	border-radius: 0px 5px 5px 0px;
	border: none;
	cursor: pointer;
	font-size: 17px;
	padding: 6px;
	width: 60px;	
}
.contLogo {
	font-size: 20px;
}
.contLogo a {
	color: #000;
	text-decoration: none;
}
.contLogo h1 {
	margin: 0;
}
.logo {
	background-color: white;
	border: none;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	height: 40px;
	width: 100px;
}
.dropdown {
	background-color: white;
	border: 1px solid gray;
	display: flex;
	flex-direction: column;
	max-width: 1150px;
	position: absolute;
	width: calc(100% + 20px);
	z-index: 8000;
}
.dropdown:empty {
	border: none;
}
.dropdownRow {
	cursor: pointer;
	margin: 2px 0;
	padding: 5px 10px;
	text-align: start;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.dropdownRow p {
	margin: 0;
}
.dropdownRow:hover {
	background-color: var(--gray-dark);
}
.imgSearch {
	height: 40px;
	padding: 0;
	/* display: none; */
}
@media screen and (max-width: 420px) {
	.searchBarContainer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 100%;
	}	
	.contain {
	display: flex;
	flex-direction: column;	
			
	}
	.searchBar button{
		margin: 5px 0px;		
	}		
  }
@media screen and (max-width: 860px) {
	.searchBarContainer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
		width: 100%;
	}	
	.contain {
	display: flex;
	flex-direction: column;	
			
	}
	.searchBar button{
		margin: 5px 0px;		
	}		
}