.pageContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 75vh;
  padding-top: 20px;
  width: 98vw;
}
.pageContainer a {
  text-decoration: none;
}
.containerProdCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85vw;
}
.buttonsPage button {
  margin: 0px 5px;
}

