:root{
    --color-primary: #fff;
    --gray-light: #f2f2f2;
    --gray-medium: #eaeaea;
    --gray-dark: #d6d6d6;
    --color-secundary: #000
}

#prodContainer{
    background-color: var(--gray-dark);
    display: flex;
    justify-content: center;
    gap: 25px;
}

#contProdDetails{
    background-color: var(--gray-light);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    min-height: 90vh;
    margin: 40px 0px;
    border-radius: 10px;
    text-align: center;
}

#sectionDetail{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
#detailsImage{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    min-width: 400px;
    height: 500px;
}
#detailsImage img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
}

#detailsData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    min-width: 300px;
    margin-left: 40px;
}
#detailsData h4{
    margin: 10px 0px;
}
#detailsData button, input[type=button]{
    background-color: var(--gray-dark);
    height: 30px;
    width: 250px;
    margin: 5px 0px;
    border: none;
    border-radius: 10px;
}

#buttonFav{
    height: 25px !important;
    width: 30px !important;
    /* margin-left: 80% !important; */
    position: relative;
    top: -10%;
    right: -80%;
    cursor: pointer;
    transition: .2s
}
#buttonFav img{
    margin: 4px 0px;
    height: 15px;
}

#buttonFav:hover{
    transform: scale(1.2);
}


#buttonBuy{
    background-color: rgb(52, 218, 52) !important;
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
    font-size: 15px;    
   
}
#buttonBuy:hover {
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.762);
   
}

.btnDelete{
    background-color: rgb(238, 10, 10) !important;
}

/* .button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    transition: 0.2s;
    color: red;
    width: 300px;
}
.button:hover {
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.762)
} */

.btnSend{
    border: none;   
    cursor: pointer;
    border-radius: 10px;
    padding-bottom: 6px;
    font-size: 15px;
    text-align: center;
    user-select: none;
    transition: 0.2s;    
}
.btnSend:hover {
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.762)
}
.sellerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    width: 530px;
    height: 150px;
    margin-top: 40px;
    background-color: var(--gray-light)
}
.imgSellerDiv{
    min-width: 25%;
    margin-left: 5%;
}
.sellerImg{
    margin-top: 5px;
    border-radius: 15px;
    width: 80%;
    max-height: 150px;
}
.sellerData{
    width: 530px;
}
.sellerData label{
    margin-left: 30px;
    font-size: 15px;
    font-style: italic;
    color: grey;
}
.sellerData div{
    line-height: 15px;
}
.sellerData h2{
    margin-left: 30px;
    font-family: "Helvetica";
}
.sellerData p{
    margin-left: 30px;
}
.prodContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20%;
    height: 550px;
    background-color: var(--gray-light);
    border-radius: 10px;
}
.h2Prod{
    min-width: 100%;
    display: flex;
    justify-content: center;
}
.prodContainer h2{
    min-width: 80%;
    height: 40px;
    border-bottom: 1px solid grey;
    text-align: center;
}
.prodDetails {
    min-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
}
.prodImg{
    width: 150px;
    height: 100px;
    margin-left: 5%;
    transition: .2s
}
.prodImg:hover{
    transform: scale(1.05)
}
.prodD{
    min-width: 60%;
    line-height: 20px;
}
.prodD h3{
    margin-left: 35px;
    font-weight: bold;
    font-size: 20px;
}
.prodD h4{
    margin-left: 35px;
}
.prodD h5{
    margin-left: 35px;
    color: grey;
    font-style: italic;
}

.contDescription{
    width: 70%;
    margin: 0% 15%;
}
.photoDiv {
    width: 50px;
    margin-left: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}
.imgButton{
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .2s
}
.imgButton:hover{
    transform: scale(1.05)
}
.photoDiv button img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
/* terminar  */
@media screen and (max-width: 420px) {
    #prodContainer{      
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sellerDiv{
        width: 96%;        
    }
    #contProdDetails{        
        width: 95%;
        display: flex;
        flex-direction: column;         
    }
    #contProdDetails h1{
        text-align: start;
        margin-left: 20px;
    }
    #sectionDetail{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;      
        width: 100%;
    }
    #sectionDetail img{
        width: 70%;
    }
    .contDescription{
        width: 50%;
    }
    .ProdComents{
        width: 63%;    
    }  
}
@media screen and (max-width: 860px) {
    #prodContainer{      
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sellerDiv{
        width: 96%;        
    }
    #contProdDetails{        
        width: 95%;
        display: flex;
        flex-direction: column;         
    }
    #contProdDetails h1{
        text-align: start;
        margin-left: 20px;
    }
    #sectionDetail{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;      
        width: 100%;
    }
    #sectionDetail img{
        width: 70%;
    }
    .contDescription{
        width: 50%;
    }
    .ProdComents{
        width: 63%;    
    }  
}