:root{
    --color-primary: #fff;
    --gray-light: #f2f2f2;
    --gray-medium: #eaeaea;
    --gray-dark: #d6d6d6;
    --color-secundary: #000
}

#sectionComments{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-medium);
    padding: 20px;
}
#sectionComments form input{
    height: 25px;
    width: 450px;
    border: 2px solid #d6d6d6;
    border-radius: 5px 0px 0px 5px;
    margin: 15px 0px;
}
#sectionComments form button{
    height: 31px;
    width: 100px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

#commentsContainer{
    width: 600px;
    
}

.comments{
    background-color: var(--gray-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 600px;
    min-height: 120px;
    text-align: left;
    border: 3px solid #d6d6d6;
    border-radius: 2em 1em 4em / 0.5em 3em;
    margin: 5px 0px;
    padding: 5px;
}
.comments img{
    width: 60px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}
.comments div{
    padding: 0px 15px;
}
.comments div h4{
    margin: 0;
}
.btnSend{       
    background-color: #eaeaea;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;    
    transition: 0.2s;     
       
}
.btnSend:hover {
    transform: scale(1.02);
    color: rgb(52, 218, 52);
    font-weight: bold;  
}
.tumama{
    display: flex;
    justify-content: row;
}
.tumama img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnsComSeller{
    display: flex;
    justify-content: flex-end;
    width: 500px;
}
.btnsComSeller button{
    background-color: var(--gray-dark);
    height: 20px;
    border: none;
    border-radius: 3px;
    margin: 0px 15px;
    transition: .2s;
}
.btnsComSeller button:hover{
    transform: scale(1.05);
}

.sellerResponse{
    background-color: var(--gray-medium);
    width: 550px;
    margin-left: 50px;
}
.sellerResponse h5{
    color: #8b8b8b;
    margin: 0;
    /* margin-top: -45px; */
}
.sellerResponse p{
    margin: 5px 0px;
}