.formRegisterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.formRegister{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

.formRegister input{
    height: 20px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}