.searchBarContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.searchBarContainer form {
    /* margin: 5px; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchBarContainer form input {
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    outline: none;
}

.searchBarContainer form button {
    /* height: 28px; */
    width: 60px;
    /* padding: 14px 12px; */
    border: none;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    background-color: #fff;
    border-left: 1px solid red;
}
.searchBarContainer form button svg{
    font-size: 16px;
    height: 100%;
}