.container{
    width: 770px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 110px;
    justify-content: center;
    border-radius: 5px;
}
.container button{
    /* width: 50%; */
    width: 110px;
    height: 80px;
    background-color: white;
    border: .2px solid #dfdfdf;
    cursor: pointer;
    transition: .1s;
    /* margin: 1px; */
}
.container button:hover{
    background-color: rgb(148, 145, 145);
    color: white
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.buttonsImg{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.buttonsImg img{
    pointer-events: none;
}
.buttons span{
    pointer-events: none;
}