.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d2d2d2;
}
.container a{
    text-decoration: none;
    color: #000;
}
.container img{
    width: 200px;
    /* padding: 0px 30px; */
    padding: 20px 30px 0px 30px;
    transition: all ease 300ms;
}
.container img:hover{
    transform: translateY(-10px);
}

.card{
    display: flex;    
    flex-direction: column;
    background-color: #fff;   
    max-width: 600px;
    width: 80%;
    margin: 10px 0px;
}

.imgSection{
    display: flex;
    justify-content: flex-start;    
}
.infoProd{
    margin-left: 20px;   
    width: 100%;
    padding-left: 2px;    
}

.btnSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    margin: 0px 10px;
    border: none;
    background-color: rgb(52, 218, 52);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    user-select: none;
    transition: 0.2s;  
}
.btn:hover {
    transform: scale(1.02);
    color: rgba(255, 255, 255, 0.762)
}


.back{
    margin-bottom: 20px;    
    background-color:#eaeaea;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    min-width: 150px;
    height: 25px;
    transition: 0.2s;    
}
.back:hover{
    transform: scale(1.05);
    color: rgba(255, 255, 255, 0.762)
}

.btnSection h4{
    margin-left: 3px;
}

