.containerEdit {
	height: 100%;
	width: 100vw;
}
.containerEdit form {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 900px;
	width: 90%;
  margin-top: 40px;
}
.containerInputs {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 30px;
}
.containerInputs input {
	margin-top: 20px;
  padding: 14px;
  font-size: 18px;
  border-radius: 6px;
  border: 1px solid gray;
}
.containerInputs input:nth-child(1) {
	margin-top: 0;
}
.containerEdit button {
  width: 200px;
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  margin: auto;
  margin-top: 20px;
}
@media screen and (max-width: 420px) {
	.containerEdit{
	  width: 100%;
	}
  .containerEdit form {
	width: 100%;
  }
  .containerInputs input {
	width: 50%;  
  }
  .containerEdit button {
	width: 30%;
  }
  }
  @media screen and (max-width: 860px) {
	.containerEdit{
	  width: 100%;
	}
  .containerEdit form {
	width: 100%;
  }
  .containerInputs input {
	width: 50%;  
  }
  .containerEdit button {
	width: 30%;
  }
  }