:root{
    --color-primary: #fff;
    --gray-light: #f2f2f2;
    --gray-medium: #eaeaea;
    --gray-dark: #d6d6d6;
    --color-secundary: #000
}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--gray-dark);
    min-height: 80vh;
}

/* .secondContainer{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
} */

.contOptions{
    background-color: var(--color-primary);
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    margin: 150px 50px 0px -150px;
}
.contOptions button{
    background-color: var(--gray-light);
    min-height: 25px;
    min-width: 80px;
    border: none;
    border-radius: 5px;
}
.contOptions button:hover{
    background-color: rgb(148, 145, 145);
    color: white;
}

.userDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content:space-around;
    margin-top: 30px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 800px;
    height: 250px;
}

.user img{
    width: 200px;
    height: 80%;
    border-radius: 10px;
}

.container li{
    list-style: none;
}

.userProducts{
    width: 800px;
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--color-primary);
}
.userProducts hr{
    width: 400px;
}

.buttonContainer{
    height: 60px;
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    gap: 30px;
}

.buttonButton{
    height: 45px;
    width: 100px;
    border: none;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.buttonButton:hover{
    background-color: rgb(148, 145, 145);
    color: white;
}

.orderCard{
    background-color: var(--gray-light);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 600px;
    margin: 20px 0px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.orderCard div{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70px;
}
.orderCard div h3, h5{
    margin: 0px 0px 10px;
}
.orderCard div button{
    background-color: var(--gray-dark);
    height: 30px;
    width: 125px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    transition: .2s;
    padding: 0px;
}
.orderCard div button:hover{
    transform: scale(1.03);
}
.orderCard div a, a:visited{
    margin: 0px;
    text-decoration: none;
    color: #000;
}
@media screen and (max-width: 420px) {	
	.container { 
   width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;  
    
	}  
    .user{       
        display: flex;
        justify-content: center;
        margin: 0;        
    }
    .buttonContainer{
        width: 40%;
        display: flex;
        justify-content: space-around;         
        padding: 0px 5px;
        margin: 0;
    }
    .buttonContainer button{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 40px;
    }
    .contOptions{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-left: 50px;     
                   
    }
  }
  @media screen and (max-width: 860px) {	
	.container { 
   width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
    align-items: center;  
    
	}  
    .user{       
        display: flex;
        justify-content: center;
        margin: 0;        
    }
    .buttonContainer{
        width: 40%;
        display: flex;
        justify-content: space-around;         
        padding: 0px 5px;
        margin: 0;
    }
    .buttonContainer button{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 40px;
    }
    .contOptions{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin-left: 50px;     
                   
    }
  }

